
## let other machines reach port 3306  ( e.g. phpmyadmin)
MARIADB_REMOTE_ACCESS=false

##allow www-data login via ssh
ENABLE_WWW_SHELL=false



APT_HTTP_PROXY_URL=http://apt-cache.somedomaindoesntexist.com:3142/
